.label-pdf {
  font-size: 12px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.label-pdf > b {
  text-transform: uppercase;
  font-weight: bold;
}

.header-pdf {
  /* background-image: url('../../../../../../img/header.png'); */
  background-color: rgb(122, 120, 120) !important;
  border: 2px solid black;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0.5px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  padding: 2%;
}

.watermark::after {
  /* min-height: 300vh;
  margin: 0; */
  position: absolute;
  content: "Documento no valido para tramites";
    top: 30%;
    left: 25%;
    transform: translate(-50%, -50%) rotate(-30deg); /* Rota 30 grados en sentido antihorario */
    color: rgba(0, 0, 0, 0.15);
    font-size: 30px;
    font-weight: bold;
}

.header-pdf label {
  text-align: center;
}
.header-pdf p {
  text-align: center;
}

.fondo-cabecera {
  /* background-color: #E0E0E0; */
  border: 2px solid black;
  padding: 2%;
}

.footer-pdf {
  background-repeat: no-repeat;
  /* background-size: 100% 100%; */
  margin: 0.5px;
  color: white;
  font-weight: bold;
  font-size: 36px;
  padding: 2%;
}

.row-titulo {
  margin-top: 4%;
  margin-bottom: 4%;
  margin: 0.5px;
  border: 2px solid black;
  padding: 2%;
}

.row-titulo label {
  font-size: 14px;
  text-align: center;
}
