.text-tr {
  color: var(--color-blue) !important;
}

.circlered {
  background-color: red;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

.circleyellow {
  background-color: yellow;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

.circlegreen {
  background-color: green;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}
