.formlogin {
  margin-top: 25px;
  align-items: center;
  margin-bottom: 25px;
  background-color: #ebf5ff;
  color: black;
  font-weight: bold;
  border-radius: 2%;
  width: 450px;
  padding: 2%;
}

.btnlogin {
  text-align: justify;
  text-justify: inter-word;
  margin-top: 20%;
}
