.circle {
  height: 16px;
}

.circlered {
  background-color: red;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  display: inline-block;
}

.circleyellow {
  background-color: yellow;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  display: inline-block;
}

.circlegreen {
  background-color: green;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  display: inline-block;
}

.filtrocolor {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 2%;
  margin: 2px;
  background-color: #8c9cbc;
  color: white;
  /* width: 120px; */
  /* height: 30px; */
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 6px 6px 6px 6px;
}

.filtrocolor:hover {
  background-color: var(--color-blue);
}

.active-color {
  background-color: var(--color-blue);
}
